[submodule "notofonts.github.io"]
	path = fonts/notofonts.github.io
	url = https://github.com/notofonts/notofonts.github.io.git
[submodule "noto-cjk"]
	path = fonts/noto-cjk
	url = https://github.com/notofonts/noto-cjk.git
[submodule "adobe-blank"]
	path = fonts/adobe-blank
	url = https://github.com/adobe-fonts/adobe-blank.git
